@model IEnumerable<ConfigurationDotNetCore.Models.ProductDetails>
@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<h1>List of Product</h1>
<table class="table table-bordered table-light table-hover">
    <thead class="thead-light">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Picture)</th>
            <th>@Html.DisplayNameFor(model => model.Comments)</th>
            <th>@Html.DisplayNameFor(model => model.MoreDescriptions)</th>
            
  

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Picture)</td>
                <td>@Html.DisplayFor(modelItem => item.Comments)</td>
                <td>@Html.DisplayFor(modelItem => item.MoreDescriptions)</td>
            
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>

